* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}
// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    // background: url(../images/bg-en.jpg) 50% top no-repeat, $fatfooterBgColor;
    background: url(../images/bg-en.jpg) 50% top no-repeat;

    @include screen('tablet') {
        background: url(../images/bg-en.jpg) 50% top no-repeat;
        background-size: cover;
    }

    @include screen('mobile') {
        // background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}
.main {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 5em 0;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    h2 {
        line-height: 1.25em;
    }

    @include screen('mobile') {
        padding: 5em 0 1em;
    }
}

// mp slider deco
.slider-deco{
    .container{
        padding: 1em;
        background: #fff;
    }
}

// 快速連結
.quick-link{
    .container{
        margin-top: 3em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        a{
            flex: 0 0 140px;
            height: 140px;
            display: block;
            border-radius: 50%;
            margin: 20px 10px;
            padding: 1.5em 1em;
            background: -webkit-linear-gradient(180deg, rgb(27, 56, 131), rgb(2, 115, 118));
            background: linear-gradient(180deg, rgb(27, 56, 131), rgb(2, 115, 118));

            span{
                display: flex;
                justify-content: space-around;
                align-items: center;
                line-height: 1.1;
                height: 50px;
            }

            color: #fff;
            text-align: center;
            img{
                display: block;
                margin: auto;;
                width: 50px;
                max-width: 50px;
            }
            transition: all .3s ease;

            &:hover, &:focus{
                background: -webkit-linear-gradient(180deg, red, rgb(27, 56, 131));
                background: linear-gradient(180deg, red, rgb(27, 56, 131));
            }
        }

        @include screen('tablet') {
            flex-flow: row wrap;
            a{}
        }
    }
}
// news
.link-list{
    .container{
        background: rgba(255,255,255, .65);
        padding: 56px 129px;
        margin: 3em auto;

        @media screen and (max-width: 1099px) {
            padding: 56px 60px;
        }

        h2.title{
            text-align: center;

            background: linear-gradient(to right, #000fbe 0%, #0a607b 50%, #00a200 100%);
            background: -webkit-linear-gradient(to right, #000fbe 0%, #0a607b 50%, #00a200 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            span{
                display: inline-block;
                padding: 0 1em;
            }
            &:before, &:after{
                content: '';
                display: inline-block;
                width: 26px;
                height: 13px
            }
            &:before{
                background: url(../images/deco-left.svg) left 50% no-repeat;
                background-size: contain;
            }
            &:after{
                background: url(../images/deco-right.svg) right 50% no-repeat;
                background-size: contain;
            }
        }

        .news, .services{
            ul{
                @include li-reset;
                li{
                    border-top: 1px solid #c7c7c7;
                    &:last-child{
                        border-bottom: 1px solid #c7c7c7;
                    }
                    a{
                        display: block;
                        line-height: 50px;
                        color: #000;
                    }
                }
            }
        }
        .news{
            li a{
                position: relative;
                padding-left: 100px;
                transition: all .3s ease;
                @include text-overflow; 
                time{
                    position: absolute;
                    left: 0;
                    transition: all .3s ease;
                }

                &:hover, &:focus{
                    padding-right: 0;
                    padding-left: 1em;
                    color: $linkColor;
                    time{
                        left: -90px;
                    }
                }
            }
        }
        .services{
            padding-left: 80px;
            @media screen and (max-width: 991px) {
                padding-left: 0;
                margin-top: 4em;
            }
            li a{
                padding-right: 2em;
                background: url(../images/icon/icon_arrow_right.svg) right 50% no-repeat;
                background-size: 16px 16px;
                transition: all .3s ease;
                img{
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                    margin-right: 1em;
                }

                &:hover, &:focus{
                    background: url(../images/icon/icon_arrow_right.svg) right 10px top 50% no-repeat;
                    background-size: 16px 16px;
                }
            }
        }
    }
}

// 內頁內容共用背景
.inner-main{
    background: rgba(255,255,255,1);
    padding: 1.5em 2em;
}

// 欄位化
.fielded{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
        @include gutter();
    }

    h2.title, .function{
        flex: 1 1 auto;
    }
    h2.title{}
    .function{}

    @include screen('mobile') {
        flex-flow: row wrap;
        h2.title, .function{
            flex: 1 1 100%;
        }
    }
}

// 回饋
.Feedback{
    padding:20px;
    border-radius: 5px;
    // border: 1px solid #1c3882;
    // background: #fff;
    border: 1px solid #bcbcbc;
    background: #f3f3f3;
    // width:550px;
    margin: 20px 0;

    legend{
        font-size: 1.125em;
        margin-bottom: .25em;
        border-bottom: 0;
        font-weight: bold;
    }
}
.Feedback .inner{ margin-bottom:10px; }

// 
.explan{
    margin-top: 1em !important;
    b{ color: #c52a3e; }
}

// 申請說明
.text-info{
    background: #f2f2f2;
    padding: 1em 1.5em;
    margin: 20px 0 0;
    a{
        text-decoration: underline !important;
        padding: 0 2px;
        &:hover, &:focus{
            text-decoration: none !important;
        }
    }
    b{ color: #c52a3e; }
}

// 點閱記錄
.Recording{

    .form_grid{
        border-top: 0;
        .form_grp{
            border-bottom: 0;
            .form_title{
                flex: 0 0 auto;
                margin: 8px 0;
                font-size: 120%;
            }
            .form_content{
                max-width: 100%;
                input[type="text"],
                input[type="password"],
                select,
                textarea,
                button,
                .btn,
                input[type="submit"],
                input[type="reset"],
                input[type="button"],
                input[type="search"]{ width: 260px; }
            }
        }
    }

    .col{
        padding: 20px 30px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #d5d5d5;

        .Title{ margin-bottom: 25px; font-weight:bold;}
    }
}
.aws_border,
.aws_border2{
    width: 95%;
    border-collapse:collapse;

    td {
        font-family:Arial, Helvetica, sans-serif;
        color:#222;
        text-align:center;
        border: 0;
        border-bottom:1px solid #eee;
        padding: .2em 0;

        &.td-title{
            color:#fff;
            background: #017476;
        }
        &.td-average{ border-bottom: 1px solid #666;}

        &.td-average,
        &.td-total{ background: #f7f7f7; }
    }
}
.aws_border{
    margin:0 auto 10px auto;

    td {
        font-size:1em;
        // padding: 0px 5px;
        letter-spacing:1px;
        min-width: 50px;
    }
}
.aws_border2{
    margin:50px auto 15px auto;

    td {
        font-size:82%;
        // padding: 1px 0;
        letter-spacing:0px;
        min-width: 34px;
    }
}
.currentday {font-weight:bold;}

// 案件查詢
.enquiry{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    // padding: .5em 15px;
    padding: .5em 0;
    p{
        margin: 0;
        color: #d90000;
        font-size: 1.25em;
        border-left: 6px solid #d90000;
        padding-left: .75em;
    }
    button{}

    @media screen and (max-width: 1200px){
        @include gutter(15px);
    }
    @include screen('tablet') {
        flex-flow: row wrap;
        button{ margin-top: 10px;}
    }
}
// 列表頁
.list {
    &>ul, ol {
        &>li {
            &>a {
                padding: 0 1em !important;
            }
        }
        time {
            display: inline-block !important;
            padding-right: 1em;
            vertical-align: top;
            // color: #AAA;

            +.text{
                display: inline-block;
                max-width: calc(100% - 110px);
            }
        }
    }
}
.HOT{
    display: inline-block;
    background:#b72c00;
    color: #fff;
    font-size: 0.6em;
    padding: 2px 8px;
    margin: 0 10px;
    border-radius: 20px;
    &:before{
        content: '';
        display: inline-block;
        margin-right: 4px;
        width: 12px;
        height: 12px;
        background: url(../images/icon/icon_star2.svg) 50% 50% no-repeat;
        background-size: contain;
    }
}

// 主題書展 - 列表頁
.list_cards{
    .col{
        box-shadow: inset 0 0 1px 0 rgba(0,0,0,0);

        .img-container{
            // @include aspect-ratio(4,3);
            background: none;
        }
        .info{
            color: #222;
            h3{
                margin: 6px 0 14px;
                color: #000;

                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background: $form-focus;
                    left: 0;
                    bottom: -6px;
                    transition: all .6s ease;
                }
            }
            p{
                margin: 0;
                line-height: 1.2;
                margin-bottom: 4px;
                span{
                    display: inline-block;
                    font-weight: bold;
                    padding: 2px 4px;
                    margin-right: 4px;
                    font-size: .813em;
                    color: #838383;
                    box-shadow: inset 0 0 2px 0 #222;
                    // background: #e8e8e8;
                    // &:after{
                    //     content: '';
                    // }
                }
            }
        }

        a{
            transition: all .3s ease;
            padding: 1em;
            &:hover, &:focus{
                box-shadow: inset 0 0 1px 0 rgba(0,0,0,1);
                .info{
                    h3{
                        color: $form-focus;
                        &:after{ width: 100%; }
                    }
                }
            }
        }
    }
}
// 主題書展 - 內容頁
.list_card{
    .col{
        .img-container{
            // @include aspect-ratio(4,3);
            background: none;
        }
        .info{
            color: #222;
            h3{
                margin: 14px 0;
                color: #000;

                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background: $form-focus;
                    left: 0;
                    bottom: -6px;
                    transition: all .6s ease;
                }
            }
            p{
                margin: 0;
                line-height: 1.2;
                margin-bottom: 4px;
                span{
                    display: inline-block;
                    font-weight: bold;
                    padding: 2px 4px;
                    margin-right: 4px;
                    font-size: .813em;
                    color: #838383;
                    box-shadow: inset 0 0 2px 0 #222;
                    // background: #e8e8e8;
                    // &:after{
                    //     content: '';
                    // }
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    >.container {
        @include gutter(); //gutter 代表左右要留白
        display: flex;
        padding: 1em 0 2em 0;
    }
    .center_block {
        flex: auto;
        max-width: 100%;
        // overflow: hidden;
    }
    .left_block {
        flex: 0 0 260px;
        max-width: 260px;
        // float: left;
        // width: 260px;
        margin-right: 40px;
        &.hidden {
            +.center_block {
                max-width: 100%;
            }
        }
        +.center_block {
            max-width: calc(100% - 300px);
        }
        @include screen('tablet') {
            display: none;
            +.center_block {
                max-width: 100%;
            }
        }
    }
    &.small_size {
        font-size: .938em;
    }
    &.large_size {
        font-size: 1.125em;
    }
}
.hidden {
    display: none;
}